---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands:   true
AlignTrailingComments: true
BraceWrapping:   
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Custom
ColumnLimit: 120
IndentWidth:     2
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
ReflowComments:  false
SpacesBeforeTrailingComments: 2
Standard:        Cpp11
TabWidth:        2
UseTab:          Never
