*.cproject
*.project
*.settings
*__pycache__*
.vscode
*.pyc
.ycm_extra_conf.py
docs/_build
docs/_static
docs/_templates
build/
*.egg-info
src/amira_blender_rendering/version.py
$AMIRA_DATASETS/
scripts/sh/*abc*.sh