[dataset]
# Specify how many images should be rendered
image_count = 5
# Specify the base path where data will be written to. Note that this is a base
# path, to which additional information will be added such as Scenario-Number
# and Camera-Name
base_path = $AMIRA_DATASETS/SimpleToolCap-Test
# specify the scene type
scene_type = SimpleToolCap

[camera_info]
width = 640
height = 480
model = pinhole
name = Pinhole Camera
# You can specify the calibration matrix K that was determined for you camera,
# for instance with OpenCV
K = 9.9801747708520452e+02, 0., 6.6049856967197002e+02, 0., 9.9264009290521165e+02, 3.6404286361152555e+02, 0., 0., 1.

[render_setup]
# specify which renderer to use. Usually you should leave this at
# blender-cycles. Note that, at the moment, this is hard-coded to cycles
# internally anyway.
backend = blender-cycles
# integrator (either PATH or BRANCHED_PATH)
integrator = BRANCHED_PATH
# use denoising (true, false)
denoising = True
# samples the ray-tracer uses per pixel
samples = 64

[scene_setup]
# we also specify where to load environment textures from
environment_textures = $AMIRA_DATASETS/OpenImagesV4/Images

[parts]
# here we use the 'ply only' version to load objects. Fore more documentation,
# see config/workstation_scenario01_test.cfg
tool_cap =
# this scene loads a tool cap mesh. We could have hardcoded it in the backend
# script (src/amira_blender_rendering/scenes/simpletoolcap.py), but we decided
# to specify the path in the configuration file instead
ply.tool_cap = $AMIRA_DATASETS/CADModels/tool_cap.ply
# ply models often have a different scale than what is used in blender. Here, we
# have to scale down the model to match blender units (which are treated to be
# meters)
ply_scale.tool_cap = 0.010, 0.010, 0.010

[scenario_setup]
# here we specify the objects of interest. In the case of this demo, we are only
# interested in one part of type "tool_cap". Although this configuration option
# is not used in the backend script, it is useful to document the items that are
# part of the scenario
target_objects = parts.tool_cap:1
