[dataset]
# Specify how many images should be rendered
image_count = 5
# Specify the base path where data will be written to. Note that this is a base
# path, to which additional information will be added such as Scenario-Number
# and Camera-Name
base_path = $AMIRA_DATASETS/WorkstationScenarios
# Specify if dataset generation already split into training and validation
# datasets
percentage_validation = 0

[camera_info]
width = 640
height = 480
model = pinhole
name = Pinhole Camera
# You can specify the calibration matrix K that was determined for you camera,
# for instance with OpenCV
K = 9.9801747708520452e+02, 0., 6.6049856967197002e+02, 0., 9.9264009290521165e+02, 3.6404286361152555e+02, 0., 0., 1.

[render_setup]
# specify which renderer to use. Usually you should leave this at
# blender-cycles. Note that, at the moment, this is hard-coded to cycles
# internally anyway.
backend = blender-cycles
# integrator (either PATH or BRANCHED_PATH)
integrator = BRANCHED_PATH
# use denoising (true, false)
denoising = True
# samples the ray-tracer uses per pixel
samples = 64

[scene_setup]
# specify the blender file from which to load the scene
blend_file = ~/amira/amira_data_gfx/modeling/workstation_scenarios.blend
# specify where background / environment images will be taken from during
# rendering. This can be a single file, or a directory containing images
environment_texture = $AMIRA_DATASETS/OpenImagesV4/Images
# specify which cameras to use for rendering. The names here follow the names in
# the blender file, i.e. Camera, StereoCamera.Left, StereoCamera.Right
cameras = Camera
# cameras = Camera, StereoCamera.Left, StereoCamera.Right
# number of frames to forward-simulate in the physics simulation
forward_frames = 15

[scenario_setup]
# At the moment, the 6 different scenarios in workstation_scenarios.blend are
# simply enumerated. Have a look at the .blend file for the order in which they
# appear, e.g. identifiable by the numbering of the cameras
scenario = 1
# Specify all target objects that shall be dropped at random locations into the
# environment. Target objects are all those objects that are already in the
# .blend file in the 'Proto' collection
target_objects = Sterngriff:6, Wuerfelverbinder:2

